{% extends "workout_buddy/navbar.html" %}
{% load static %}

{% block content %}
<main style="margin-top: 13vh;">
    <div class="container pt-4">
        <div class="row">
            <div class="col align-self-center">

                <form id="workout-form" action="{% url 'new-workout' %}" method="POST"
                    style=" border: 2px solid #fbfbfb; border-radius: 8px; box-shadow: 5px 10px #fbfbfb6e !important; padding: 15px; margin: 0px 48px;">
                    {% csrf_token %}
                    <!-- Workout Errors -->
                    {% if messages %} {% for message in messages %} {% if message.tags == "workout error" %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> {{ message }}
                    </div>
                    {% endif %} {% endfor %} {% endif %}
                    <!-- Workout Name -->
                    <div class="col" style="padding: 15px; margin:0 10px;">
                        <div class=" row form-group">
                            <input id="name" type="text" name="name" required class="input-material form-control-lg"
                                placeholder="Name">
                        </div>
                        <!-- Workout Description -->
                        <div class=" row form-group">
                            <input id="description" type="text" name="description"
                                class="input-material form-control-lg" placeholder="Description">
                        </div>
                        <!-- Add Workout Button -->




                    </div>
                    <input id="add" type="submit" value="Add" class="banner_btn " style=" margin:1.5rem 20px 0rem 20px;">
                </form>

            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% block script %}
<!-- Javascript files-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
</script>
<script src="{% static 'workout/javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'workout/javascript/jquery.cookie.js' %}">
</script>
<!-- <script src="{% static 'workout/javascript/Chart.min.js' %}"></script> -->
<script src="{% static 'workout/javascript/front.js' %}"></script>
{% endblock script %}