{% extends "workout_buddy/navbar.html" %}
{% load static %}

{% block content %}

<main style="margin-top: 68px;">

    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-12 pb-4">
                <!-- Perform django if check here for workouts-->
                {% if workouts %}

                <!-- All Workout Table -->
                <table class="table table-sm all-workouts-table mb-4">
                    <thead>
                        <tr style="color: #fbfbfb;">
                            <th scope="col">Date:</th>
                            <th scope="col">Workout:</th>
                            <th scope="col">Actions:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workout in workouts %}
                        <tr style="color: #fbfbfb;" >
                            <td scope="row">{{workout.created_at | date}}</td>
                            <td><em>{{workout.name}}</em></td>
                            <td>
                                <form action="">
                                    <button class="btn btn-link btn-sm view-link" type="submit"><i
                                            class="fa fa-eye"></i> View</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Workout Pagination -->
                {% if workouts.has_other_pages %}
                <ul class="pagination pagination-lg justify-content-end mb-4">
                    {% if workouts.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ workouts.previous_page_number }}"
                            class="page-link bg-dark text-white">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link end-nav bg-dark">Previous</span>
                    </li>
                    {% endif %} {% for i in workouts.paginator.page_range %} {% if workouts.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="page-link bg-dark text-white">{{ i }}</a>
                    </li>
                    {% endif %} {% endfor %} {% if workouts.has_next %}
                    <li class="page-item">
                        <a href="?page={{ workouts.next_page_number }}" class="page-link bg-dark text-white">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link bg-dark">Next</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                {% else %}
                <div class="card text-white bg-dark mb-4">
                    <div class="card-body">
                        <h4 class="card-title">You don't have any workouts yet.</h4>
                        <h6 class="card-subtitle mb-2 text-muted">There's no time like the present! 💪</h6>
                        <p class="card-text">{{workout.description}}
                        </p>
                        <a href="{% url 'new-workout' %}" class="card-link">Start a Workout</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}