{% extends "workout_buddy/navbar.html" %}
{% load static %}

{% block content %}

<main style="margin-top: 68px;">

    <div class="container pt-4">
        <div class="row">
            <!-- Perform django if check here for recent_workouts-->
            {% if recent_workouts %}
            <!-- If so, repeat cards here: -->
            {% for workout in recent_workouts %}
            <div class="col-lg-12 pb-4">
                <div class="card text-white bg-dark mb-2">
                    <div class="card-body">
                        <h4 class="card-title">{{workout.name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{workout.created_at | date }}</h6>
                        <p class="card-text">{{workout.description}}
                        </p>
                        <a href="{% url 'new-workout' %}/{{workout.id}}" class="card-link">View</a>
                        <p class="card-text">
                            <small class="text-muted">Updated {{workout.updated_at | timesince}}
                                ago</small>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <p class="text-white text-muted ml-3 mr-3 block"><i class="fa fa-info-circle"></i> <em>Most
                    recent 4 workouts displayed only. <a href="{% url 'all-workout' %}" class="card-link">View
                        All</a></em></p>
            {% else %}
            <div class="col-lg-12 pb-4">
                <div class="card text-white bg-dark mb-4">
                    <div class="card-body">
                        <h4 class="card-title">You don't have any workouts yet.</h4>
                        <h6 class="card-subtitle mb-2 text-muted">There's no time like the present! 💪
                        </h6>
                        <p class="card-text">{{workout.description}}
                        </p>
                        <a href="{% url 'new-workout' %}" class="card-link">Start a Workout</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
 
</main>


{% endblock content %}
{% block script %}
<!-- Javascript files-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
</script>
<script src="{% static 'workout/javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'workout/javascript/jquery.cookie.js' %}">
</script>
<!-- <script src="{% static 'workout/javascript/Chart.min.js' %}"></script> -->
<script src="{% static 'workout/javascript/front.js' %}"></script>
{% endblock script %}