<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <link rel="icon" href="{% static 'img/logo.png'%}" type="image/png"> -->
  <title>ProHealth</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/responsive.css' %}">
  <!-- Vendor CSS Files -->

  <!-- Javasecripts and sweetalert -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://kit.fontawesome.com/a4ba5bc4af.js" crossorigin="anonymous"></script>

  <!-- font families -->

  <!-- Template Main CSS File -->

  {% block style %}

  {% endblock style %}
</head>




<body data-bs-spy="scroll">

  <!--================ Navbar =================-->
  <header class="header-area">
    {% block submenu %}
    {% endblock submenu %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #0a0a0a;" id="main navbar">
      <div class="container-fluid mx-5" >
        <a class="navbar-brand" href="{% url 'home' %}">
          <!-- <img src="{% static 'webapp/img/logo.png'%}"> -->
          ProHealth</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}#hero">Home</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#features">Features</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Features
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Workout plan</a></li>
                    <li><a class="dropdown-item" href="#">Track your progress</a></li>
                    <li><a class="dropdown-item" href="#">Diet Recommendation</a></li>
                    <li><a class="dropdown-item" href="{% url 'index' %}">Calorie Tracker</a></li>
                    <li><a class="dropdown-item" href="{%  url 'workout-tracker' %}">Workout Tracker</a></li>
                    <li><a class="dropdown-item" href="{% url 'workout_buddy' %}">Workout buddy</a></li>
                    <li><a class="dropdown-item" href="{% url 'forum' %}">ProHealth Community</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            {% elif not user.is_authenticated %}
            <a class="nav-link" href="{% url 'home' %}#features">Features</a>
            {% endif %}
          </li>

          <!-- </div> -->

          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#contact">Contact</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="{% url 'loginregister' %}">Register/Login</a> -->
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}" style="text-decoration: none !important;">
              Logout
            </a>
            {% elif not user.is_authenticated %}
            <a class="nav-link" href="{% url 'loginregister' %}" style="text-decoration: none !important;">
              Login/Register
            </a>
            {% endif %}
          </li>
        </ul>
      </div>
      </div>
    </nav>

  </header>
  {% block body %}


  {% endblock body %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <!-- <script>
    const body = document.querySelector("body");
    const navbar = document.querySelector(".navbar1");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    menuBtn.onclick = () => {
      navbar.classList.add("show");
      menuBtn.classList.add("hide");
      body.classList.add("disabled");
    }
    cancelBtn.onclick = () => {
      body.classList.remove("disabled");
      navbar.classList.remove("show");
      menuBtn.classList.remove("hide");
    }
    window.onscroll = () => {
      this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
    }


  </script> -->


  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
</body>


{% block script %}

{% endblock script %}

</html>