{% extends 'webapp/base-dashboard.html' %}
{% load static %}
{% block dashboardcontent %}
<main style="margin-top: 78px;">
    <div class="container pt-4">
        <div class="row justify-content-center" style="align-items: flex-end;">
            {% for value in recommendations %}
            <div class="col-auto mb-3">
                <div class="card" style="max-width: 18rem !important; margin: 1 rem auto;">
                    <iframe src={{recommendations|get_item:value}}
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    <!-- {{ recommendations|get_item:value }} -->
                    <!-- {{value}} -->
                    <div class="card-body">
                        <h5 class="card-title text-center">{{value}}</h5>
                        <hr style="margin: 0.5rem; height: 0.4px; box-shadow: 0 0 2px 0.2px #6c6b6b">
                        <p class="card-text" style="text-align: center;"><a
                                href="https://www.youtube.com/watch?v=2V2n1UK3LLA&ab_channel=YourFoodLab"
                                target="_blank" style="color: #0a0a0a; text-decoration:double; font-size: medium;">
                                <strong>Open in
                                    Youtube</strong> </a></p>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <!-- <a href="#" target="_blank" class="banner_btn">Open in Youtube</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock dashboardcontent %}