{% extends 'webapp/base-dashboard.html' %}
{% load static %}
{% block dashboardcontent %}
<main style="margin-top: 78px;">
    <div class="container pt-4">
        <div class="card bg-dark" style="min-width: fit-content;" >
            <div class="list-group list-group-dark">
                <a href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2" style="background-color: #ff9d57
                !important;color: #0a0a0a !important;">
                    A simple default list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary" style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple primary list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-secondary"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple secondary list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple success list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-danger"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple danger list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-warning"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple warning list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple info list group item</a>
                <a href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2" style="background-color: #ff9d57
                !important;color: #0a0a0a !important;">
                    A simple default list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary" style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple primary list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-secondary"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple secondary list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple success list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-danger"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple danger list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-warning"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple warning list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple info list group item</a>
                <a href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2" style="background-color: #ff9d57
                !important;color: #0a0a0a !important;">
                    A simple default list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary" style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple primary list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-secondary"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple secondary list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple success list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-danger"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple danger list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-warning"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple warning list group item</a>
                <a href="#"
                    class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info"style="background-color: #ff9d57
                    !important;color: #0a0a0a !important;">
                    A simple info list group item</a>

            </div>
        </div>
    </div>
</main>
{% endblock dashboardcontent %}