{% extends "webapp/base-temp.html" %}
{% load static %}
{% block body %}
<!--================ Home =================-->
<section id="hero">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="col-lg-7 d-lg-flex flex-lg-column justify-content-center  order-2 order-lg-1"
                data-aos="fade-up">
                <div style="z-index: 999;">
                    {% if user.is_authenticated %}
                    <h1>Hello <span style="text-transform: uppercase !important;">{{user.name}}</span>,</h1>
                    {% endif %}

                    <h1>Be <span>better</span> everyday</h1>
                    <p>Get your perfect workout. Stay fit physically and mentally anytime, anywhere with ProHealth
                    </p>
                    <!---sessions django---->
                    {% if user.is_authenticated %}
                    <div class="button">
                        <a class="banner_btn" href="{% url 'dashboard' %}">GET YOUR PERSONALIZED WORKOUT NOW</a>
                    </div>
                    {% else %}
                    <div class="button">
                        <a class="banner_btn" href="{% url 'loginregister' %}">GET YOUR PERSONALIZED WORKOUT NOW</a>
                    </div>
                    {% endif %}
                    <a href="#features" class="scroll-down  d-flex align-items-center justify-content-center mt-5"
                        address="true"><i class="fas fa-arrow-down"></i></a>

                </div>
            </div>
            <div class="col-lg-5 d-lg-flex flex-lg-column order-1  hero-img" data-aos="fade-up">
                <img src="{% static 'webapp/img/home.png'%}" class="img-fluid" alt="" style="margin-top: 88px;">
            </div>

        </div>
    </div>
</section><!-- End Home -->

<!--================ Features =================-->
<section id="features">
    <div class="container">
        <div class="main-title text-center">
            <h5>OUR FEATURES</h5>
            <h2>Offerings we provide</h2>
        </div>
        <div class="row g-5 mt-3 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon" style="background: #30E702;">
                        <img src="{% static 'webapp/img/feature1.png' %}">
                    </div>
                    <h4>Workout Plans</h4>
                    <hr>
                    <p>Get personalised workouts based on your goals! </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon" style="background: #8F37FF;">
                        <img src="{% static 'webapp/img/feature2.png'%}">
                    </div>
                    <h4>Track Progress</h4>
                    <hr>
                    <p>Track your progress and recieve adaptive workout routines!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon" style="background: #FF24A8;">
                        <img src="{% static 'webapp/img/feature3.png'%}">
                    </div>
                    <h4>Diet Recommendation</h4>
                    <hr>
                    <p>Get a healthy diet plan based on the number of calories you want to eat!</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features -->

<!--================ About Us =================-->
<section id="about-us">
    <div class="container">
        <div class="main-title text-left">
            <h5>ABOUT US</h5>
            <h2>Your smart fitness buddy</h2>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="content">
                    <div class="icon-box">
                        <div class="icon" style="margin-top: 2vh;"><i class=""></i></div>
                        <p class="description">Reach the next level with your personal AI Fitness Coach. When you
                            reach excellence, your only left goal is PERFECTION</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon" style="margin-top: 2vh;"><i class=""></i></div>
                        <p class="description">Measure and improve results with real time AI analysis. It monitors
                            your execution of the exercises and provides visual feedback in real-time.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon" style="margin-top: 2vh;"><i class=""></i></div>
                        <p class="description">Our delicious meal plans are designed to help you lose weight, eat
                            more fiber, go vegan and more of what’s right for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-image">
                <div class="inner">
                    <div class="image-box clearfix">
                        <figure class="image">
                            <img src="{% static 'webapp/img/about-us_1.png'%}" alt="">
                            <!-- <div class="card card-1">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="icon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <h4>At-home workouts</h4>
                                    </div>
                                </div> -->
                        </figure>
                        <figure class="image">
                            <img src="{% static 'webapp/img/about-us_2.png'%}" alt="">
                            <!-- <div class="card card-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="icon" style=" background: rgba(143, 55, 255, 0.2);;
                                        color: #8F37FF;">
                                            <i class="fas fa-comment-dots"></i>
                                        </div>
                                        <h4>Real-time feedback</h4>
                                    </div>
                                </div> -->
                        </figure>
                    </div>
                </div>
            </div>
        </div>
</section><!-- End About Us -->

<!--================ Contact  =================-->
<section id="contact">
    <div class="container">
        <div class="main-title text-center">
            <h5>CONTACT US</h5>
            <h2>Get in touch with us</h2>
            <p>To know more about us and our services, you can join us. And we will ensure thatyou will get proper
                fitness facility.</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6">
                <form action="#" method="post" role="form" class="contact-form">
                    <div class="row">
                        <div class="form-group  mt-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter your Name"
                                required>
                        </div>
                        <div class="form-group mt-3 ">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" rows="5" placeholder="Type your message here"
                            required></textarea>
                    </div>

                    <div class="text-center"><button type="submit">Submit</button></div>
                </form>

            </div>
        </div>
</section><!-- End Contact -->

<!--================ Footer  =================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 footer-contact">
                    <a href="{% url 'home' %}">ProHealth</a>
                    <p>ProHealth is build with the aim to empower people to inculcate the habit of excercise and make
                        them understand it's importance and benefits.</p>
                </div>

                <div class="col-xl-2 offset-xl-1 col-md-6 footer-links">
                    <h4>Pages</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-xl-3 col-md-6 footer-links">
                    <h4>Features</h4>
                    {% if user.is_authenticated %}
                    <ul>
                        <li><a href="#">Workout Plans</a></li>
                        <li><a href="#">Track your Progress</a></li>
                        <li><a href="#">Diet Recommendation</a></li>
                        <li><a href="#">Calorie Tracker</a></li>
                        <li><a href="#">Workout Tracker</a></li>
                        <li><a href="{% url 'calorie_tracker_app:index' %}">Workout Buddy</a></li>
                        <li><a href="{% url 'forum' %}">ProHealth Community</a></li>
                    </ul>
                    {% elif not user.is_authenticated %}
                    <ul>
                        <li><a href="{% url 'loginregister' %}">Workout Plans</a></li>
                        <li><a href="{% url 'loginregister' %}">Track your Progress</a></li>
                        <li><a href="{% url 'loginregister' %}">Diet Recommendation</a></li>
                        <li><a href="{% url 'loginregister' %}">Calorie Tracker</a></li>
                        <li><a href="{% url 'loginregister' %}">Workout Tracker</a></li>
                        <li><a href="{% url 'loginregister' %}">Workout Buddy</a></li>
                        <li><a href="{% url 'loginregister' %}">ProHealth Community</a></li>
                    </ul>
                    {% endif %}
                </div>

                <div class="col-xl-3 col-md-6 footer-links">
                    <h4>Contact</h4>
                    <div class="info">
                        <i class="fas fa-envelope "></i>
                        <span>prohealth@xmail.com</span>
                    </div>
                    <div class="info mt-4">
                        <i class="fas fa-mobile-alt"></i>
                        <span>8765432101</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i
        class="fa fa-angle-double-up"></i></a>


{% endblock body %}


{% block script %}
<script src="{% static 'webapp/js/theme.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.2/dist/umd/popper.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
{% endblock script %}

<script>
    var navbar = document.querySelector('nav')
    window.onscroll = function () {
        if (window.pageYOffset > 0) {
            navbar.classList.add('scrolled')
        } else {
            navbar.classList.remove('scrolled')
        }
    }
    $('.navbar-nav>li>a').on('click', function () {
        $('.navbar-collapse').collapse('hide');
    });
</script>
</body>

</html>