{% extends 'webapp/base-dashboard.html' %}
{% block title%} Home {% endblock %} 
{% block homeactive %} active {% endblock homeactive %}
{% load static %}
{% block content %}

  {% if user_data.user_gender == 'Female' %}
    <section class="dashboard" style="margin-top:80px;">
      <h2 class="title-heading">Exercises for you</h2>
      <div class="container exercise-recommendations">
        <div class="row" id="carousel-row">
          <div class="col-12">
            <div id="carousel" class="owl-carousel">
              
              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f1.png' %}" alt="">
                  {% if playlist.exercise_jj == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Jumping Jack</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f2.png' %}" alt="">
                  {% if playlist.exercise_ac == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Abdominal Crunches</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f3.png' %}" alt="">
                  {% if playlist.exercise_kp == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Knee Pushups</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f4.png' %}" alt="">
                  {% if playlist.exercise_sar == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Side Arm Raises</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f5.png' %}" alt="">
                  {% if playlist.exercise_squats == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Squats</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>



              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f6.png' %}" alt="">
                  {% if playlist.exercise_bl == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Backward Lunges</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-f7.png' %}" alt="">
                  {% if playlist.exercise_cs == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Cobra Stretch</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


            </div>
          </div>

        </div>
      </div>

      <h2 class="title-heading mt-3 mb-4">Workout challenges</h2>
      <div class="container workout-challenges">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout1.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Calorie crush</span>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout2.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Belly burner</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout3.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Beach body</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout4.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Abs on fire</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="title-heading mt-3 mb-4">Workouts by intensity</h2>
      <div class="container workout-intensity">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/wi-f1.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Beginner</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="{% url 'beginner_playlist' %}" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/wi-f2.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Intermediate</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="{% url 'intermediate_playlist' %}" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/wi-f3.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Advance</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="{% url 'advance_playlist' %}" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="dashboard" style="margin-top:90px;">
      <h2 class="title-heading ">Exercises for you</h2>
      <div class="container exercise-recommendations">
        <div class="row" id="carousel-row">
          <div class="col-12">
            <div id="carousel" class="owl-carousel">
              
              <div class="card">
                <a href="#">
                    <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m1.png' %}" alt="">
                    {% if playlist.exercise_jj == 1 %}
                    <div class="done d-flex">
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <h5>Done</h5>
                    </div>
                    {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Jumping Jack</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m2.png' %}" alt="">
                  {% if playlist.exercise_ac == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Abdominal Crunches</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m3.png' %}" alt="">
                  {% if playlist.exercise_kp == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Knee Pushups</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m4.png' %}" alt="">
                  {% if playlist.exercise_sar == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Side Arm Raises</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m5.png' %}" alt="">
                  {% if playlist.exercise_squats == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Squats</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>



              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m6.png' %}" alt="">
                  {% if playlist.exercise_bl == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Backward Lunges</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="{% static 'webapp/img/dashboard/exercise-m7.png' %}" alt="">
                  {% if playlist.exercise_cs == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Cobra Stretch</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


            </div>
          </div>

        </div>
      </div>


      <h2 class="title-heading mt-3 mb-4">Workout challenges</h2>
      <div class="container workout-challenges">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout1.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Calorie crush</span>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout2.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Belly burner</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout3.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Beach body</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/workout4.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Abs on fire</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="title-heading mt-3 mb-4">Workouts by intensity</h2>
      <div class="container workout-intensity">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/wi-m1.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Beginner</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="#" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/wi-m2.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Intermediate</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="#" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'webapp/img/dashboard/wi-m3.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Advance</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="#" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}