{% extends "webapp/base-temp.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'workout_buddy/bootstrap.min.css' %}">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'workout_buddy/base.css' %}" type=text/css>
<link rel="shortcut icon" href="{% static 'workout_buddy/flex.png' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% endblock style %}
{% block body %}
<!-- {% include "workout_buddy/navbar.html" %}s -->
<main role="main" class="container">

    <div class="starter-template">
        <h1>What are you training today?</h1>
        <p class="lead">GymBuddy is a matchmaking site for gym-goers, dedicated to increasing collaboration in the gym
            and helping users achieve their fitness goals. </p>
    </div>

  </main>


{% endblock body %}

{% load static %}
<!doctype html>
<html lang="en">


  <body>
    
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block scripts %} 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
    {% endblock scripts %}
  </body>

</html>