{% extends "webapp/base-temp.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'workout_buddy/landing.css' %}">
{% endblock style %}

{% block body %}
{% block submenu %}
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse" style="background-color: #0a0a0a;margin-top: 13vh;">
    <div class="position-sticky" style="background-color: #0a0a0a; margin-top: 0.5rem;">
        <div class="list-group list-group-flush" style="background-color: #0a0a0a;">
            <a href="{% url 'workout_buddy' %}" class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a><hr>
            <a href="{% url 'friends' %}" class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true">
                <i class="fa-solid fa-user-group fa-fw me-3"></i><span>Friends</span>
            </a>
            <hr>
            <a href="{% url 'workout' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa-sharp fa-solid fa-dumbbell fa-fw me-3"></i><span>Workout</span>
            </a><hr>
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fa-solid fa-user fa-fw me-3"></i><span>Profile</span>
            </a>
        </div>
    </div>
</nav>
<!-- Sidebar -->
{% endblock submenu %}
<main style="margin-top: 58px;">
    <div class="container pt-4">
        <div>
            <img src="{% static 'workout_buddy/gym-5.jpg' %}" class= "img-center" alt="gym">
        </div>
        <div>
            <h3 style="text-align: center; margin: 2vh;color: #fbfbfb;">What are you training today?</h3>
            <div class="button">
                <a class="banner_btn" href="{% url 'friends' %}">Find a GymBuddy</a>
                <a class="banner_btn ms-3" href="{% url 'workout' %}">Go Workout</a>
            </div>
        </div>
        <!--Main Navigation-->
    </div>
</main>

{% endblock body%}