{% extends "webapp/base-temp.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'workout_buddy/landing.css' %}">
{% endblock style %}

{% block body %}
{% block submenu %}
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse" style="background-color: #0a0a0a;margin-top: 13vh;">
  <div class="position-sticky sidebar-sticky" style="background-color: #0a0a0a; margin-top: 0.5rem;">
    <div class="list-group list-group-flush" style="background-color: #0a0a0a;">
      <!-- <a href="{% url 'home' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fa-solid fa-house"></i><span> Home</span>
      </a>
      <hr> -->
      <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-dumbbell"></i><span> Workout Recommendations</span>
      </a>
      <hr>
      <a href="{% url 'diet' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-pot-food fa-lg"></i><span>Diet Recommendations</span>
      </a>
      <hr>
      <a href="{% url 'workout_buddy' %}" class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Workout Buddy</span>
      </a>

      <span> <a href="{% url 'friends' %}" class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true">
          <i class="fa-solid fa-user-group fa-fw me-3" style="margin-left: 1.5rem;"></i><span>Friends</span>
        </a></span>
      <span>
      <hr>

      <a href="{% url 'progress' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-duotone fa-chart-simple fa-lg"></i><span> Progress</span>
      </a>
      <hr>

      <a href="{% url 'workout-tracker' %}" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Workout Tracker</span>
      </a>
      <span> <a href="{% url 'new-workout' %}" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-solid fa-plus" style="margin-left: 1.5rem;"></i><span> Add Workout</span>
        </a> </span>
      <span> <a href="{% url 'all-workout' %}" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa-solid fa-list" style="margin-left: 1.5rem;"></i><span> View All Workouts</span>
        </a> </span>
      <hr>
      <a href="{% url 'calorie_tracker_app:index' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-tally"></i><span>Calorie Tracker</span>
      </a>
      <hr>
      <a href="{% url 'forum' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-users"></i><span>ProHealth Community</span>
      </a>
      <hr>
      <a href="{% url 'profile' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-user fa-fw me-3"></i><span>Profile</span>
      </a>

    </div>
  </div>
</nav>
<!-- Sidebar -->
{% endblock submenu %}
{% block content %}

{% endblock content %}

{% endblock body %}