{% extends "webapp/base-temp.html" %}
{% load static %}


{% block style %}
<!-- <link rel="stylesheet" href="{% static 'webapp/css/main.css' %}"> -->
<style>
    card-registration,
    select-input,
    form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    card-registration,
    select-arrow {
        top: 13px;
    }

    body {
        background-color: #0a0a0a !important;
    }

    #reset {
        /* background-color:  #0a0a0a!important; */
        border: #e4e4e4 !important;
        box-shadow: #789092 !important;
        box-shadow: 3px 3px 5px #888888;
        margin-right: 5vh !important;
    }

    #submit {
        background-color: #FF7009 !important;
        box-shadow: 3px 3px 5px #888888;
    }

    #reset:hover {
        background-color: #789092 !important;
        color: #fbfbfb !important;
    }

    #submit:hover {
        color: #fbfbfb !important;
    }
</style>
{% endblock style %}

{% block body %}
<section class="h-100">
    <div class="container py-5 h-100" style="margin-top: 10vh;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4"
                    style="box-shadow:3px 3px 5px #888888; background-color: #0a0a0a;">
                    <div class="row g-0">
                        <!-- <div class="col-xl-6 d-none d-xl-block">
              <img src="{% static 'webapp/img/user details.png' %}" alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: -webkit-fill-available; width: -webkit-fill-available;" />
            </div> -->
                        <div class="col-xl">
                            <div class="card-body p-md-5 text-white">
                                <h3 class="mb-5 text-uppercase" style="color: #FF7009;">Edit Profile</h3>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <!-- Phone number and email -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="username">Username</label>
                                                <input type="text" id="username" name="username"
                                                    value="{{user.username}}" class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="name">Name</label>
                                                <input type="text" id="name" name="name" value="{{user.name}}"
                                                    class="form-control form-control-lg" />

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Gender and DOB -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="gender">Gender</label>
                                                <select id="gender" name="gender" class="form-control form-control-lg">
                                                    {% if user.gender is 'male' %}
                                                    <option value="male" selected>Male</option>
                                                    <option value="female">Female</option>
                                                    {% else %}
                                                    <option value="male">Male</option>
                                                    <option value="female" selected>Female</option>
                                                    {% endif %}

                                                </select>
                                                <!-- <input type="text" id="gender" name="gender" class="form-control form-control-lg" /> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="dob">Date of birth</label>
                                                <input type="date" id="dob" name="dob" value="{{user.dob|date:'Y-m-d'}}"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Height and weight -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="height">Height (in cms)</label>
                                                <input type="text" id="height" name="height" value="{{user.height}}"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="weight">Weight</label>
                                                <input type="text" id="weight" name="weight" value="{{user.weight}}"
                                                    class="form-control form-control-lg" />

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Age and activity level -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="age">Age</label>
                                                <input type="text" id="age" name="age" value="{{user.age}}"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="act_lvl">Activity Level </i></label>
                                                <select id="act_lvl" name="act_lvl"
                                                    class="form-control form-control-lg"> 
                                                    {% if user.activity_level is 'sedentary' %}
                                                    <option value="sedentary" selected>Sedentary</option>
                                                    <option vale="lightly active">Lightly active</option>
                                                    <option value="moderately active">Moderately active</option>
                                                    <option value="very active">Very active</option>
                                                    <option value="extra active">Extra active</option>

                                                    {% elif user.activity_level is 'lightly active' %}
                                                    <option value="sedentary">Sedentary</option>
                                                    <option vale="lightly active"selected>Lightly active</option>
                                                    <option value="moderately active">Moderately active</option>
                                                    <option value="very active">Very active</option>
                                                    <option value="extra active">Extra active</option>

                                                    {% elif user.activity_level is 'moderately active' %}
                                                    <option value="sedentary">Sedentary</option>
                                                    <option vale="lightly active">Lightly active</option>
                                                    <option value="moderately active"selected>Moderately active</option>
                                                    <option value="very active">Very active</option>
                                                    <option value="extra active">Extra active</option>

                                                    {% elif user.activity_level is 'extra active' %}
                                                    <option value="sedentary">Sedentary</option>
                                                    <option vale="lightly active">Lightly active</option>
                                                    <option value="moderately active">Moderately active</option>
                                                    <option value="very active">Very active</option>
                                                    <option value="extra active"selected>Extra active</option>
                                                    {% else %}
                                                    <option value="sedentary">Sedentary</option>
                                                    <option vale="lightly active">Lightly active</option>
                                                    <option value="moderately active">Moderately active</option>
                                                    <option value="very active">Very active</option>
                                                    <option value="extra active">Extra active</option>
                                                    {% endif %}
                                                </select>
                                                <!-- <input type="text" id="gender" name="gender" class="form-control form-control-lg" /> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Location(locality) and pincode -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="pincode">Pincode</label>
                                                <input type="text" id="pincode" name="pincode" value="{{user.pincode}}"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="location">Area,Street,Sector,Village</label>
                                                <input type="text" id="location" name="location"
                                                    value="{{user.location}}" class="form-control form-control-lg" />

                                            </div>
                                        </div>
                                    </div>


                                    <!-- Fav gym activity 1,2 -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="fav1">Favourite Gym Activity</label>
                                                <input type="text" id="fav1" name="fav1" value="{{user.fav_gym_act1}}"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="fav2">Second Favourite Activity</label>
                                                <input type="text" id="fav2" name="fav2" value="{{user.fav_gym_act2}}"
                                                    class="form-control form-control-lg" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="reset" class="btn btn-light btn-lg" id="reset">Reset all</button>
                                        <button class="btn btn-light btn-lg" id="reset"> <a href="{% url 'profile' %}"
                                                style="color: #0a0a0a;">Cancel</a> </button>
                                        <button type="submit" class="btn btn-warning btn-lg ms-2" id="submit">Save
                                            Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}