.card-custom {
  overflow: hidden;
  min-height: 500px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 400px !important;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 360px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  /* border-left-width: 300; */
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

/* .card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
} */
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /* padding: 58px 0 0; Height of navbar */
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.678), 0 2px 10px 0 rgba(255, 255, 255, 0.678);
    width: 240px;
    /* z-index: 600; */
    background-color: #0a0a0a;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.788), 0 2px 10px 0 rgba(255, 255, 255, 0.788);
    background-color: #FF7009 !important;
    color:#0a0a0a ;
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
 .img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;

 }
 /* .navbar {
  margin-left: 16.7%;
  width:83.8%;
  
} */
.list-group-item{
  background-color: #0a0a0a !important;

}
.list-group-flush > .list-group-item{
  color: #fbfbfb;
}
.sidebar a:hover{
  color: #fbfbfb;
}
.sidebar a:focus{
  color: #FF7009 ;
}
.sidebar a:active{
  color: #FF7009 ;
}
.sidebar hr{
  color: #fbfbfba8;
  margin:0.1rem;
}

 /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /* padding: 58px 0 0; Height of navbar */
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.678), 0 2px 10px 0 rgba(255, 255, 255, 0.678);
    width: 240px;
    /* z-index: 600; */
    background-color: #0a0a0a;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.788), 0 2px 10px 0 rgba(255, 255, 255, 0.788);
    background-color: #FF7009 !important;
    color:#0a0a0a ;
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }